<div class="col-xs-6">
<!-- <div class="jumbotron"> -->
    <p>
        Send Messages To Groups
    </p>
    
    <form name="sendMsgForm" class="form-horizontal" ng-submit="vm.sendMessage(sendMsgForm.$valid)" novalidate>
        <fieldset>
        <div class="form-group" ng-class="{ 'has-error' : sendMsgForm.groupName.$invalid && vm.sendMsgFormSubmitted }">
            <label for="groupselect" class="col-lg-3 control-label">Group Name: *</label>
            <div class="col-lg-9">
                <select name="groupName" class="form-control" id="groupselect" ng-model="vm.selectedGroup" ng-options="x.groupName for x in groups" required>
                </select>
                <p ng-show="sendMsgForm.groupName.$invalid && vm.sendMsgFormSubmitted " class="help-block">Group selection  is required.</p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : sendMsgForm.message.$invalid && vm.sendMsgFormSubmitted }">
            <label for="msgbody" class="col-lg-3 control-label">Message: *</label>
            <div class="col-lg-9">
                <textarea name="message" ng-minlength="1" ng-maxlength="140" class="form-control" rows="3" id="msgbody" ng-model="vm.message" required></textarea>
                <p ng-show="sendMsgForm.message.$invalid && vm.sendMsgFormSubmitted " class="help-block">Message to send is required. Maximum length 140 characters</p>
                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
            </div>
        </div>
        <div class="form-group">
          <div class="col-lg-9 col-lg-offset-3">
            <button type="submit" class="btn btn-primary">Send Message</button>
          </div>
        </div>

        <div ng-show="vm.showAlert" class="alert alert-{{vm.alertType}} alert-dismissable col-lg-9 col-lg-offset-3">
            <button type="button" class="close" ng-click="vm.showAlert = false" aria-hidden="true">
                &times;
            </button>
            <strong>{{vm.alertType}}</strong> {{vm.resSendMsg}}
        </div>
            
        </fieldset>
    </form>
    
    
    
</div>