<div class="col-md-6 col-md-offset-3">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="alert alert-info">
        Welcome new !
    </div>
    
    <!--
    <div class="alert alert-info">
        Username: test<br />
        Password: test
    </div>
    
    <h2>Login</h2>
    
    <form name="form" ng-submit="form.$valid && vm.login()" novalidate>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.username.$invalid }">
            <label for="username">Email</label>
            <input type="text" name="username" class="form-control" ng-model="vm.username" required />
            <div ng-messages="form.$submitted && form.username.$error" class="help-block">
                <div ng-message="required">User email is required</div>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.password.$invalid }">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" ng-model="vm.password" required />
            <div ng-messages="form.$submitted && form.password.$error" class="help-block">
                <div ng-message="required">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <button ng-disabled="vm.loading" class="btn btn-primary">Login</button>
        </div>    
        <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
    </form>
    
    <a href="#/register" class="btn btn-primary">Register</a>
-->
    <a  href="/login/federated/google">Sign in with Google</a>
    
    <!--    
    <button mat-button (click)="vm.login()">Sign in with Google</button>
    <form name="form" ng-submit="vm.login()" novalidate>
        <div class="form-group">
            <button ng-disabled="vm.loading" class="btn btn-primary">Login</button>
        </div>    
    </form>
    -->
<!--
    <div id="g_id_onload"
        data-client_id="642653296859-9hmo5er6ipeq4h97poddchkrj43bm2td.apps.googleusercontent.com"
        data-login_uri="http://localhost:3000/login"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left">
    </div>
    -->
</div>
<div class="col-md-6 col-md-offset-3">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
</div>
<!--<script src="https://accounts.google.com/gsi/client" async defer></script> -->